nav .navbar-brand {
    padding-left: 25%;
}

.navbar {
    background-color: skyblue;
    /* background-color: transparent; */
}

.navbar-brand {
    font-size: 30px;
}

.navbar ul li a {
    font-size: 30px;
}

body {
    background-color: skyblue;
    background-image: url(./assets/images/Spiral-Labyrinth-2015053027.svg);
}


#sticky-footer {
    background-color: skyblue;

}

#portfolio_col {
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: aquamarine;
}

#portfolio_col img {
    padding: 20px;
    
}

#about_col {
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: aquamarine;
}

#about_img {
    height: 350px;
    float: left;
    margin-right: 15px;
}

#contact_col {
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: aquamarine;
}



