nav .navbar-brand {
    padding-left: 25%;
}

.navbar {
    background-color: skyblue;
    /* background-color: transparent; */
}

.navbar-brand {
    font-size: 30px;
}

.navbar ul li a {
    font-size: 30px;
}

body {
    padding-top: -15px;
    background-color: skyblue;
    background-image: url(./assets/images/Spiral-Labyrinth-2015053027.svg);
}

.container {
    padding-top: 50px;
}

div .col img {
    max-width: 50%;
    float: left;
    padding-right: 15px;
}


