nav .navbar-brand {
    padding-left: 25%;
}

.navbar {
    background-color: skyblue;
    /* background-color: transparent; */
}

.navbar-brand {
    font-size: 30px;
}

.navbar ul li a {
    font-size: 30px;
}

body {
    background-color: skyblue;
    background-image: url(./assets/images/Spiral-Labyrinth-2015053027.svg);
}

#about_img {
    max-width: 350px;
    max-height: 350px;
}
.container {
    /* padding-top: 50px; */
}

/* div .col img {
    max-width: 50%;
    float: left;
    padding-right: 15px;
} */

div .col-md-6 {
    padding: 15px;
}

div .col-md-6 p {
    position: absolute;
    left: 20%;
    bottom: 20%;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}


